/* General Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: black;
}

/* Navbar */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	padding: 15px 20px;
	border: 1px solid white;
}

.logo-container {
	display: flex;	
}

.logo {
    width: 40px;
    height: auto;
}

.nav-title {
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 15px 20px;
}

.nav-links {
	list-style-type: none;
	display: flex;
}

.nav-links li {
	margin: 0 15px;
}

.nav-links a {
	text-decoration: none;
	color: whitesmoke;
	font-size: 18px;
	transition: color 0.3s;
}

.nav-links a:hover {
	color: gold;
}

/* Home */

.hero-container {
	margin: 0px 65px;
	padding: 24px 48px;
	background-color: black;
}

.hero-sub-container {
	display: flex;
	background-color: black;
	padding: 50px 0px;
	border: 1px solid white;
	margin: 0px 0px;
}

.hero-img-container {
	margin: 50px 0 0 0;
	padding: 0 24px;
	order: 1;
}

.hero-img {
	width: auto;
	height: 300px;
}

.hero-text {
	margin: 50px 0 0 0;
	padding: 0 24px;
	color: white;
}

.hero-h1 {
	margin: 0 0 16px 0;
	font-size: 45px;
}

.lead {
	margin: 0 0 16px 0;
	font-size: 20px;
}

.hero-button-container {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.button-primary {
	font-family: serif;
	background-color: gold;
	color: black;
	margin: 0 8px 0 0;
	border: 1px solid white;
	padding: 8px 24px;
	border-radius: 5px;
	text-decoration: none;
}

.button-secondary {
	font-family: serif;
	background-color: whitesmoke;
	color: black;
	margin: 0 8px 0 0;
	border: 1px solid gold;
	padding: 8px 24px;
	border-radius: 5px;
	text-decoration: none;
}

/* Resume */

.resume-text {
	color: white;
	margin: 50px 0 0 0;
	padding: 0 24px;
}

/* course workspace */
.invisible {
	visibility: hidden;
}